node_modules
dist
logs
uploads
coverage
.git
.gitignore
.env
.env.*
!.env.docker
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
docker-compose.yml
Dockerfile
Dockerfile.dev
Dockerfile.prod
